html {height: 100%; margin: 0;}

  body {
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }


.nav-link {
    color: white !important;
    font-size:x-large;
}

.nav-link:hover {
    color: lightpink !important;
}

.navbar-nav {
    position: relative;
    left: 80%;
}

#home {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 13px;
    font-size: x-large;
    cursor: pointer;
}

#home:hover {
    color: lightpink;
}


.wrapper {
    position: relative;
    color: white;
    top: 95px;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    width: 100%;
    position: absolute;
    opacity: 0;
}

.t1 {
    animation: ani1 18s infinite;
}
.t2 {
    animation: ani2 18s infinite;
}
.t3 {
    animation: ani3 18s infinite;
}
.t4 {
    animation: ani4 18s infinite;
}
.t5 {
    animation: ani5 18s infinite;
}

@keyframes ani1 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ani2 {
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}
@keyframes ani3 {
    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes ani4 {
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}
@keyframes ani5 {
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

.job {
    position: relative;
    color: lavender;
    top: 250px;
}

#links {
    position: relative;
    top: 275px;
}

.icon-list {
    font-size: 35px !important;
}

#links-text {
    position: relative;
    top: 270px;
    font-size: 15px;
}

.explained {
    background-color: #202020;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px 5px;
    visibility: hidden;
}

#github-explained {
    position: relative;
    left: 5px;
}
#cv-explained {
    position: relative;
    left: 27px;
}
#email-explained {
    position: relative;
    left: 23px;
}
footer {
    position: absolute;
    bottom: 0.2%;
}

@media (min-height: 800px) {
    .wrapper {
        top: 195px;
    }
    .job {top: 350px;}
    #links {top: 375px;}
    #links-text {top: 370px;}
}

@media (max-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    
    .navbar-nav {
        left: 90%;
    }
    
    .nav-link {
        padding-top: 0px;
        padding-bottom: 2px;
        font-size: larger;
    }
    #home {
        font-size: 20px;
        padding: 5px 7px;
        position: relative;
        bottom: 20px;
    }
    h1 {
        font-size: 3.7em;
    }
    .job {
        font-size: 1.5rem;
    }
    .icon-list {font-size: 28px !important;}
    .explained {font-size: 9px;}
}

@media (max-width: 522px) {
    .nav-link {
        font-size: medium !important;
    }

    .navbar-nav {
        left: 83% !important;
    }
    .icon-list {font-size: x-large !important;}
    .job {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3em;
    }
}