{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <select name="symbol" form="sellForm" class="custom-select" style="width: 20%;">
        <option disabled selected hidden>Select Stock</option>
        {% for h in holdings %}
            <option value="{{ h.symbol }}">{{ h.symbol }}</option>
        {% endfor %}
    </select>
    <form action="/sell" method="post" id="sellForm" style="position: relative; top: 5px;">
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Number of shares" type="text">
            {% if er == 2 %}
                <p style="color:red">Invalid number!</p>
            {% endif %}
            <div class="alert alert-light" role="alert" style="font-size: smaller; position: relative; top: 10px;">
                Note: You can only sell whole shares.
            </div>
        </div>
        <button class="btn btn-primary" type="submit" style="padding: 5px 45px;">Sell</button>
    </form>
    {% if er == 3 %}
    <div class="alert alert-danger" role="alert" style="position: relative; top: 9px;">
        <strong>Error!</strong> You don't own enough shares of that stock!
    </div>
    {% endif %}
{% endblock %}